path {
    transition: fill 0.3s ease-in-out;
}

@media(hover:hover) {
    .source_map path:hover {
        fill: #69BFF3;
    }
}

.map_cities_names {
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    & a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #283034;
        padding: 12px;
        border: 1px solid #d2dade;
        border-radius: 30px;
        transition: all 0.3s linear;

        @media (hover:hover){
            &:hover{
                background-color: var(--accent-color);
                color: white;
            }
        }
    }
}

.map_cities {
    display: grid;
    grid-template-columns: 304px 1fr;
    gap: 32px;
    margin-top: 56px;
}

.map_cities_title {
    margin: 0 0 16px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #283034;
}

#cities_search {
    display: flex;
    background-color: #fff;
    border: 1px solid #d2dade;
    border-radius: 30px;
    // padding: 12px;
    margin-bottom: 24px;

    & button{
        background-color: transparent;
        padding: 0 12px;
        border: none;
    }

    & .project_input{
        padding-left: 0;    
    }
}

.map_cities_info{
    & p{
        margin: 0;

        & + p{
            margin-top: 25px;
        }
    }
}