@import '../../styles/breakpoint.scss';

path {
    transition: fill 0.3s ease-in-out;
}

@media(hover:hover) {
    .source_map path:hover {
        fill: #69BFF3;
    }
}
.map{
    margin-bottom: 134px;

    @include big-desktop{
        margin-bottom: calc(134 / 14.4 * 1vw);
    }
}

.map_cities_names {
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include big-desktop{
            gap: calc(8 / 14.4 * 1vw);
        }
    }

    & a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #283034;
        padding: 12px;
        border: 1px solid #d2dade;
        border-radius: 30px;
        transition: all 0.3s linear;

        @include big-desktop{
            font-size: calc(16 / 14.4 * 1vw);
            padding: calc(12 / 14.4 * 1vw);
            border-width: calc(1 / 14.4 * 1vw);
            border-radius: calc(30 / 14.4 * 1vw);
        }

        @media (hover:hover){
            &:hover{
                background-color: var(--accent-color);
                color: white;
            }
        }
    }
}

.map_cities {
    display: grid;
    grid-template-columns: 304px 1fr;
    gap: 32px;
    margin-top: 56px;

    @include big-desktop{
        grid-template-columns: calc(304 / 14.4 * 1vw) 1fr;
        gap: calc(32 / 14.4 * 1vw);
        margin-top: calc(56 / 14.4 * 1vw);
    }
}

.map_cities_title {
    margin: 0 0 16px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #283034;

    @include big-desktop{
        font-size: calc(20 / 14.4 * 1vw);
    }
}

#cities_search {
    display: flex;
    background-color: #fff;
    border: 1px solid #d2dade;
    border-radius: 30px;
    // padding: 12px;
    margin-bottom: 24px;

    @include big-desktop{
        // padding: calc(12 / 14.4 * 1vw);
        margin-bottom: calc(24 / 14.4 * 1vw);
        border-radius: calc(30 / 14.4 * 1vw);
        border-width: calc(1 / 14.4 * 1vw);
    }

    & button{
        background-color: transparent;
        padding: 0 12px;
        border: none;

        @include big-desktop{
            padding:  0 calc(12 / 14.4 * 1vw);
        }
    }

    & .project_input{
        padding-left: 0;    
    }
}

.map_cities_info{
    & p{
        margin: 0;

        & + p{
            margin-top: 25px;

            @include big-desktop{
                margin-top: calc(25 / 14.4 * 1vw);
            }
        }
    }
}