@import '../../styles/breakpoint.scss';

.cases{
    & .container{
        @include mobile{
            padding: 0;
        }
    }
}
.cases_inner {
    background: #fcecdd;
    padding: 64px;
    padding-bottom: 44px;
    position: relative;
    border-radius: 32px;

    @include big-desktop{
        padding: calc(64 / 14.4 * 1vw);
        padding-bottom: calc(44 / 14.4 * 1vw);
        border-radius: calc(32 / 14.4 * 1vw);
    }

    @include mobile{
        padding: calc(64 / 3.93 * 1vw) calc(20 / 3.93 * 1vw) 0;
        border-radius: calc(24 / 3.93 * 1vw);
    }

    & .project_title {
        margin-bottom: 40px;

        @include big-desktop{
            margin-bottom: calc(40 / 14.4 *  1vw);
        }

        @include mobile{
            margin-bottom: calc(32 / 3.93 * 1vw);
        }
    }
}

.cases_eye {
    position: absolute;
    top: 56px;
    left: 56px;
    z-index: 1;

    @include big-desktop{
        top: calc(56 / 14.4 * 1vw);
        left: calc(56 / 14.4 * 1vw);
        width: calc(70 / 14.4 * 1vw);
        height: calc(43 / 14.4 * 1vw);
    }

    @include mobile{
        width: calc(50 / 3.93 * 1vw);
        height: calc(30 / 3.93 * 1vw);
        top: calc(20 / 3.93 * 1vw);
        left: calc(20 / 3.93 * 1vw);
    }
}

#cases_wrapper {
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    gap: 40px;
    align-items: center;

    @include big-desktop{
        grid-template-columns: calc(64 / 14.4 * 1vw) 1fr calc(64 / 14.4 * 1vw);
        gap: calc(40 / 14.4 * 1vw);
    }
    @include mobile{
        grid-template-columns: 1fr;
    }
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
}

.button-wrapper{
    @include mobile{
        display: none;
    }
}