@import '../../styles/breakpoint.scss';

.form {

    &.section{
        margin-bottom: 0;
    }
    & .project_title {
        margin-bottom: 24px;

        @include big-desktop{
            margin-bottom: calc(24 / 14.4 * 1vw);
        }

        @include mobile{
            margin-bottom: calc(16 / 3.93 * 1vw);
        }
    }
    & .container{
        @include mobile{
            padding: calc(64 / 3.93 * 1vw) calc(20 / 3.93 * 1vw) calc(88 / 3.93 * 1vw);
            background: rgba(210, 218, 222, 0.2);
            border-radius: calc(24 / 3.93 * 1vw ) calc(24 / 3.93 * 1vw ) 0 0;
        }
    }

    & .project_description{
        @include mobile{
            margin-bottom: 0;
        }
    }

    & .project_input{
        border: 1px solid #d2dade;

        @include mobile{
            border-radius: calc(16 / 3.93 * 1vw);
            font-size: calc(16 / 3.93 * 1vw);
        }
    }

    & .project_textarea{
        @include mobile{
            height: calc(144 / 3.93 * 1vw);
        }
    }
}

.form_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background: rgba(210, 218, 222, 0.2);
    border-radius: 32px;
    padding: 64px;
    // overflow: hidden;

    @include big-desktop{
        gap: calc(30 / 14.4 * 1vw);
        padding: calc(64 / 14.4 * 1vw);
        border-radius: calc(32 / 14.4 * 1vw);
    }

    @include mobile{
        grid-template-columns: unset;
        gap: calc(32 / 3.93 * 1vw);
        background: none;
        padding-left: 0;
        padding-right: 0;
    }

    & .content-wrapper {
        margin-top: 8px;
        margin-bottom: 24px;

        @include big-desktop{
            margin-top: calc(8 / 14.4 * 1vw);
            margin-bottom: calc(24 / 14.4 * 1vw);
        }

        @include mobile{
            margin-top: calc(8 / 3.93 * 1vw);
            margin-bottom: calc(24 / 3.93 * 1vw);
        }
    }
}

.form_inner_side {
    & .flex-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        
        @include big-desktop{
            gap: calc(8 / 14.4 * 1vw);
        }

        @include mobile{
            grid-template-columns: 1fr;
            gap: calc(8 / 3.93 * 1vw);

        }

        & span {
            display: block;
            width: 100%;
        }

        &+.flex-row {
            margin-top: 8px;

            @include big-desktop{
                margin-top: calc(8 / 14.4 * 1vw);
            }

            @include mobile{
                margin-top: calc(8 / 3.93 * 1vw);
            }
        }
    }
}

.form_inner_side:first-child {
    position: relative;
}

.form_inner_arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    @include mobile{
        bottom: 18%;
        top: unset;
        right: unset;
        left: calc(-5% - 20 / 3.93 * 1vw);

        & svg{
            width: calc(63 / 3.93 * 1vw);
            height: calc(36 / 3.93 * 1vw);
        }
    }
}

.form_inner_info {
    position: absolute;
    bottom: calc(48px - 64px);
    left: calc(50% - 32px);
    transform: translateX(-50%);
    z-index: 1;
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 16px;
    border: 1px solid #d2dade;
    border-radius: 16px;
    padding: 16px;
    background: #fff;
    align-items: center;
    width: 100%;
    max-width: 390px;

    @include big-desktop{
        bottom: calc(48 / 14.4 * 1vw - 64 / 14.4 * 1vw);
        left: calc(50% - 32 / 14.4 * 1vw);
        gap: calc(16 / 14.4 * 1vw);
        border-radius: calc(16 / 14.4 * 1vw);
        padding: calc(16 / 14.4 * 1vw);
        max-width: calc(390 / 14.4 * 1vw);
    }

    @include mobile{
        bottom: 0;
        left: 50%;
        gap: calc(16 / 3.93 * 1vw);
        z-index: 2;
        padding: calc(16 / 3.93 * 1vw);
        width: 100%;
        border-radius: calc(16 / 3.93 * 1vw);
        max-width: calc(308 / 3.93 * 1vw);
    }


    & dt {
        background: rgba(242, 212, 104, 0.2);
        border: 1px solid #d2dade;
        border-radius: 16px;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include big-desktop{
            border-radius: calc(16 / 14.4 * 1vw);
            width: calc(64 / 14.4 * 1vw);
            height: calc(64 / 14.4 * 1vw);
            border-width: calc(1 / 14.4 * 1vw);
        }

        @include mobile{
            width: calc(48 / 3.93 * 1vw);
            height: calc(48 / 3.93 * 1vw);
            border-radius: calc(8 / 3.93 * 1vw);
            border-width: calc(1 / 3.93 * 1vw);
        }


        & img {
            width: 56px;
            height: 56px;
            object-fit: contain;
            object-position: right;

            @include big-desktop{
                width: calc(56 / 14.4 * 1vw);
                height: calc(56 / 14.4 * 1vw);
            }

            @include mobile{
                width: calc(40 / 3.93 * 1vw);
                height: calc(40 / 3.93 * 1vw);
            }
        }
    }

    & dd {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include big-desktop{
            gap: calc(8 / 14.4 * 1vw);
        }

        @include mobile{
            gap: calc(4 / 3.93 * 1vw);
        }

        & strong {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -0.03em;
            color: var(--text-color);

            @include big-desktop{
                font-size: calc(20 / 14.4 * 1vw);
            }

            @include mobile{
                font-size: calc(16 / 3.93 * 1vw);
            }
        }

        & small {
            line-height: 120%;
            color: var(--text-color);
        }
    }
}

.form_inner_image {
    position: absolute;
    bottom: -65px;
    left: calc(50% - 32px);
    transform: translateX(-50%);
    z-index: 1;
    width: 514px;
    height: 696px;

    @include big-desktop{
        bottom: calc(-65 / 14.4 * 1vw);
        left: calc(50% - 32 / 14.4 * 1vw);
        width: calc(514 / 14.4 * 1vw);
        height: calc(696 / 14.4 * 1vw);
    }

    @include mobile{
        position: static;
        width: 100%;
        height: auto;
        transform: none;

        & img {
            width: calc(354 / 3.93 * 1vw);
            height: calc(452 / 3.93 * 1vw);
        }
    }
}

.submit_wrapper {
    position: relative;

    & svg {
        position: absolute;
        top: 50%;
        left: calc(50% + 75px);
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;

        @include big-desktop{
            left: calc(50% + 75 / 14.4 * 1vw);
        }

        @include mobile{
            left: calc(50% + 65 / 3.93 * 1vw);
        }
    }
}

.form_inner_accaptience {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #283034;
    display: block;
    margin-top: 12px;

    @include big-desktop{
        font-size: calc(14 / 14.4 * 1vw);
        margin-top: calc(12 / 14.4 * 1vw);
    }

    @include mobile{
        font-size: calc(12 / 3.93 * 1vw);
        margin-top: calc(12 / 3.93 * 1vw);
    }
}