@import '../../styles/breakpoint.scss';

.ReactCollapse--collapse {
    transition: height 500ms;
}

.questions {
    & .project_title {
        margin-bottom: 56px;

        @include big-desktop {
            margin-bottom: calc(56 / 1440 * 100vw);
        }
    }
}

.questions_acc {
    background-color: #fff;
    border: 1px solid #d2dade;
    border-radius: 32px;
    padding: 24px 24px 24px 32px;

    @include big-desktop {
        padding: calc(24 / 14.4 * 1vw) calc(24 / 14.4 * 1vw) calc(24 / 14.4 * 1vw) calc(32 / 14.4 * 1vw);
    }

    &+& {
        margin-top: 20px;

        @include big-desktop{
            margin-top: calc(20 / 1440 * 100vw);
        }
    }
}

.questions_acc_top {
    display: grid;
    grid-template-columns: 1fr 64px;
    gap: 10px;

    @include big-desktop {
        grid-template-columns: 1fr calc(64 / 1440 * 100vw);
    }

    & button {
        background-color: rgba(105, 191, 243, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        &.active svg {
            transform: none;
        }

        & svg {
            transition: transform 0.3s linear;
            width: 22px;
            height: 13px;
            transform: rotate(180deg);

            @include big-desktop{
                width: calc(22 / 14.4 * 1vw);
                height: calc(13 / 14.4 * 1vw);
            }
        }
    }
}

.questions_acc_desc {
    max-width: 680px;
    font-size: 18px;
    line-height: 140%;
    color: #283034;
    padding-top: 24px;

    @include big-desktop{
        font-size: calc(18 / 14.4 * 1vw);
        padding-top: calc(24 / 14.4 * 1vw);
    }

    & p{
        margin: 0;
    }
}
.collapse-content {
    transition: height 0.3s linear, opacity 0.3s linear;
    overflow: hidden;
}