@font-face {
	font-family: 'Moderustic';
	src: url('../fonts/tamoderustic-semibold.woff2') format('woff2'); 
	font-weight: 600;
    font-style: normal;
    font-display: swap;
}@font-face {
	font-family: 'Moderustic';
	src: url('../fonts/moderustic-medium.woff2') format('woff2'); 
	font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Involve';
	src: url('../fonts/involve-regular.woff2') format('woff2'); 
	font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Involve';
	src: url('../fonts/involve-bold.woff2') format('woff2'); 
	font-weight: 700;
    font-style: normal;
    font-display: swap;
}