@import './breakpoint.scss';
:root {
    --font-family: "Involve", sans-serif;
    --second-family: "Moderustic", sans-serif;
    --third-family: "Alata", sans-serif;

    --content-width: 1312px;
    /* --content-fluid-width: 1690px; */
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    /* --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2)); */

    --accent-color: #45b0f0;
    --accent-color-hover: #118dd7;
    --text-color: #283034;
    --background-color: #9bd4f7;
}
@include big-desktop {
    :root{
        --content-width: calc(1312 / 14.4 * 1vw);
        --container-offset: calc(30 / 14.4 * 1vw);
    }
}

@include mobile{
    :root{
        --content-width: calc(353 / 3.93 * 1vw);
        --container-offset: calc(20 / 3.93 * 1vw);
    }
}