@import '../../styles/breakpoint.scss';

.sfera{
    margin-top: 120px;

    @include big-desktop{
        margin-top: calc(120 / 1440 * 100vw);
    }

    & .project_title{
        margin-bottom: 56px;

        @include big-desktop{
            margin-bottom: calc(56 / 1440 * 100vw);
        }

        @include mobile{
            margin-bottom: calc(16 / 3.93 * 1vw);
        }
    }

    & .grid-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @include big-desktop{
            gap: calc(32 / 1440 * 100vw);
        }

        @include mobile{
            grid-template-columns: 1fr;
            grid-gap: calc(12 / 3.93 * 1vw);
        }
    }
}