.cases_slide {
    display: grid;
    grid-template-columns: 1fr 313px 190px;
    gap: 40px;
    background-color: #fff;
    border: 1px solid #d2dade;
    border-radius: 32px;
    padding: 40px;
}

.case_slide_item_title {
    margin-top: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #3c484f;
    display: block;
    margin-bottom: 12px;
}

.case_slide_item_desc {
    font-size: 16px;
    line-height: 140%;
    color: #3c484f;

    & p {
        margin: 0 0 20px 0;
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & li {
            display: flex;
            align-items: center;
            gap: 12px;

            &::before {
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--accent-color);
                flex-shrink: 0;
            }
        }
    }
}

.case_slide_item:nth-child(2) {
    & img {
        border: 1px solid #d2dade;
        border-radius: 24px;
    }
}

.case_slide_item:nth-child(3) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;

    & li:first-child {
        border-radius: 24px;
        padding: 20px;
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & li:last-child {
        border: 1px solid #d2dade;
        border-radius: 24px;
        padding: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & small {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #3c484f;
        }
    }

    & dt {
        display: block;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 56px;
        line-height: 80%;
        color: #fff;
        margin-bottom: 5px;
    }

    & dd {
        display: block;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #fff;
    }
}

.case_slide_item_weight {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #fff;
}

.case_slide_item_industry {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #3c484f;
}

.project_arrow {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3c484f;
    cursor: pointer;
}
.embla__container{
    gap: 10px;
    padding-right: 10px;
}

.slider_dots {
    grid-column: 3 span;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    & .dot {
        display: block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        background-color: #d2dade;
        transition: background-color, width 0.3s linear;
        border: none;
        padding: 0;

        &.active {
            background-color: #55abdf;
            width: 12px;
            height: 12px;
        }
    }
}