@import '../../styles/breakpoint.scss';

.works_item {
    background-color: #fff;
    border: 1px solid #d2dade;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    @include big-desktop{
        padding: calc(24 / 14.4 * 1vw);
        border-radius: calc(24 / 14.4 * 1vw);
    }
}

.works_item .img-wrap {
    /* background: rgba(105, 191, 243, 0.2); */
    border: 1px solid #d2dade;
    border-radius: 16px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;

    @include big-desktop{
        width: calc(80 / 14.4 * 1vw);
        height: calc(80 / 14.4 * 1vw);
        margin-bottom: calc(40 / 14.4 * 1vw);
        border-width: calc(1 / 14.4 * 1vw);
    }
}

.works_item .img-wrap img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    object-position: center;

    @include big-desktop{
        width: calc(64 / 14.4 * 1vw);
        height: calc(64 / 14.4 * 1vw);
    }
}

.works_item_title {
    display: block;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #283034;
    margin: 0;
    margin-bottom: 8px;

    @include big-desktop{
        font-size: calc(20 / 14.4 * 1vw);
        margin-bottom: calc(8 / 14.4 * 1vw);
    }
}

.work_item_desc {
    margin: 0;
    display: block;
    line-height: 140%;
    color: #283034;
}