@import '../../styles/breakpoint.scss';

.header {
    margin-bottom: 25px;

    @include big-desktop {
        margin-bottom: calc(25 / 14.4 * 1vw);
    }
}

.header_inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 40px;
    align-items: center;

    @include big-desktop {
        gap: calc(40 / 14.4 * 1vw);
    }

    @include mobile {
        grid-template-columns: 1fr calc(48 / 3.93 * 1vw);
    }

    & nav {
        @include mobile {
            display: none;
        }
    }
}

.header_logo {
    width: 207px;
    height: 34px;

    @include big-desktop {
        width: calc(207 / 14.4 * 1vw);
        height: calc(34 / 14.4 * 1vw);
    }

    @include mobile {
        width: calc(200 / 3.93 * 1vw);
        height: calc(32 / 3.93 * 1vw);
    }
}

.header_services {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;

    @include mobile {
        display: none;
    }
}

.header_services_tel {
    border-radius: 300px;
    padding: 16px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;

    @include big-desktop {
        border-radius: calc(300 / 14.4 * 1vw);
        padding: calc(16 / 14.4 * 1vw) 0;
        font-size: calc(18 / 14.4 * 1vw);
    }
}

.header_nav {
    display: flex;
    gap: 32px;
    align-items: center;

    @include big-desktop {
        gap: calc(32 / 14.4 * 1vw);
    }
}

.header_nav>.menu-item-has-children {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    @include big-desktop {
        gap: calc(8 / 14.4 * 1vw);
    }

    @media (min-width:576px) {
        &:hover>.sub-menu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0);
        }

        &:hover::after {
            transform: rotate(180deg);
        }
    }

    &>.sub-menu {
        list-style: none;
        position: absolute;
        transform-origin: 0 0;
        top: calc(100% + 8px);
        left: 0;
        z-index: 2;
        box-shadow: 14px 14px 34px 0 rgba(0, 0, 0, 0.07);
        background: #fdfdfd;
        border: 1px solid #d2dade;
        border-radius: 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s linear;
        transform: rotateX(30deg);
        will-change: transform;

        @include big-desktop {
            top: calc(100% + calc(8 / 14.4 * 1vw));
            padding: calc(16 / 14.4 * 1vw);
            gap: calc(12 / 14.4 * 1vw);
            border-radius: calc(16 / 14.4 * 1vw);
            border-width: calc(1 / 14.4 * 1vw);
            box-shadow: calc(14 / 14.4 * 1vw) calc(14 / 14.4 * 1vw) calc(34 / 14.4 * 1vw) 0 rgba(0, 0, 0, 0.07);
        }

        &::before {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            content: '';
            height: 8px;
            z-index: 1;
        }

        & a {
            display: block;
            color: #3c484f;
            white-space: nowrap;
        }
    }
}

.header_nav>.menu-item-has-children::after {
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg%20width=%227%22%20height=%226%22%20viewBox=%220%200%207%206%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M3.46412%206L0%200L6.92822%200L3.46412%206Z%22%20fill=%22%23283034%22/%3E%3C/svg%3E');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 6px;
    transition: transform 0.2s linear;

    @include big-desktop {
        width: calc(7 / 14.4 * 1vw);
        height: calc(6 / 14.4 * 1vw);
    }
}

.header_top {
    background: #3c484f;
    margin-bottom: 12px;

    @include big-desktop {
        margin-bottom: calc(12 / 14.4 * 1vw);
    }

    @include mobile {
        margin-bottom: calc(8 / 3.93 * 1vw);
    }
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;

    @include big-desktop {
        padding: calc(8 / 14.4 * 1vw);
    }

    @include mobile {
        padding: calc(6 / 3.93 * 1vw);
    }
}

.header_wraper_city {
    display: flex;
    align-items: center;
    gap: 8px;

    @include big-desktop {
        gap: calc(8 / 14.4 * 1vw);
    }

    @include mobile {
        gap: calc(6 / 3.93 * 1vw);
    }

    & svg {
        width: 16px;
        height: 20px;

        @include big-desktop {
            width: calc(16 / 14.4 * 1vw);
            height: calc(20 / 14.4 * 1vw);
        }

        @include mobile {
            width: calc(12 / 3.93 * 1vw);
            height: calc(16 / 3.93 * 1vw);
        }
    }
}

.header_wraper_city_curent {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    font-family: var(--font-family);

    @include big-desktop {
        font-size: calc(16 / 14.4 * 1vw);
    }

    @include mobile {
        font-size: calc(14 / 3.93 * 1vw);
    }
}

.header_wrapper_tel {
    font-weight: 700;
    font-size: 16px;
    color: #fff;

    @include big-desktop {
        font-size: calc(16 / 14.4 * 1vw);
    }

    @include mobile {
        font-size: calc(14 / 3.93 * 1vw);
    }
}

.header_burger {
    display: none;
    cursor: pointer;

    @include mobile {
        border: none;
        display: flex;
        gap: calc(4 / 3.93 * 1vw);
        flex-direction: column;
        border-radius: calc(300 / 3.93 * 1vw);
        background-color: rgba(210, 218, 222, 0.2);
        padding: calc(20 / 3.93 * 1vw) calc(12 / 3.93 * 1vw);
    }

    & span {
        width: calc(24 / 3.93 * 1vw);
        height: calc(2 / 3.93 * 1vw);
        background: #283034;
    }
}

.header_mobile {
    display: none;
    background: rgba(40, 48, 52, 0.7);
    position: fixed;
    inset: 0;
    z-index: 10;

    &.active {
        display: flex;
        align-items: flex-start;
    }

}

.header_mobile_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .header_logo {
        width: calc(199 / 3.93 * 1vw);
        height: calc(32 / 3.93 * 1vw);
    }
}

.header_mobile_inner {
    border-radius: 0 0 calc(16 / 3.93 * 1vw) calc(16 / 3.93 * 1vw);
    padding: calc(20 / 3.93 * 1vw) calc(20 / 3.93 * 1vw) calc(32 / 3.93 * 1vw) calc(20 / 3.93 * 1vw);
    width: 100%;
    background: #fdfdfd;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: calc(40 / 3.93 * 1vw);
}

.header_mobile_close {
    background: rgba(210, 218, 222, 0.2);
    width: calc(48 / 3.93 * 1vw);
    height: calc(48 / 3.93 * 1vw);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        & svg {
            transform: rotate(90deg);
        }
    }

    & svg {
        width: calc(14 / 3.93 * 1vw);
        height: calc(12 / 3.93 * 1vw);
        transition: all 0.5s linear;
    }
}

.header_mobile_menu {
    @include mobile {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header_nav>.menu-item-has-children::after {
    @include mobile {
        width: calc(7 / 3.93 * 1vw);
        height: calc(6 / 3.93 * 1vw);
    }
}

.header_nav>.menu-item-has-children {
    @include mobile {
        gap: calc(8 / 3.93 * 1vw);
    }
}

.menu-item-has-children.active {
    @include mobile {
        & .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0);
        }

        &::after {
            transform: rotate(180deg);
        }
    }
}

.header_nav>.menu-item-has-children>.sub-menu {
    @include mobile {
        padding: calc(16 / 3.93 * 1vw);
        box-shadow: 14px 14px 34px 0 rgba(0, 0, 0, 0.07);
        background: #fdfdfd;
        border-radius: calc(8 / 3.93 *1vw);
        border: calc(1 / 3.93 * 1vw) solid #d2dade;
        gap: calc(12 / 3.93 * 1vw);

        & a {
            font-size: calc(16 / 3.93 * 1vw);
        }
    }
}

.header_nav a {
    @include mobile {
        font-size: calc(18 / 3.93 * 1vw);
    }
}

.header_mobile_contacts {
    display: flex;
    flex-direction: column;
    gap: calc(16 / 3.93 * 1vw);

    & li.--mobile a{
        font-weight: 700;
        font-size: calc(20 / 3.93 * 1vw);
        line-height: 110%;
        color: #283034;
    }
    & li.--mobile{
        margin-top: calc(24 / 3.93 * 1vw);
    }

    & a {
        font-weight: 400;
        font-size: calc(18 / 3.93 * 1vw);
        line-height: 110%;
        color: #a5b4be;

    }
}
.header_mobile_order .accent_button{
    font-size: calc(18 / 3.93 * 1vw);
    margin-left: unset;
}