@import '../../styles/breakpoint.scss';

.intro.section {
    margin-top: 80px;

    @include big-desktop {
        margin-top: calc(80 / 14.4 * 1vw);
    }
}

.intro .project_description {
    max-width: 611px;
    margin: 0 auto;

    @include big-desktop {
        max-width: calc(611 / 14.4 * 1vw);
    }
}

.intro_inner {
    position: relative;
}

.intro_diagramm {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;

    @include big-desktop {
        bottom: calc(-40 / 14.4 * 1vw);
    }
}

.intro_diagramm svg {
    width: 100%;
    height: auto;
    max-width: 1312px;
    max-height: 315px;

    @include big-desktop {
        max-width: calc(1312 / 14.4 * 1vw);
        max-height: calc(315 / 14.4 * 1vw);
    }
}

.intro_diagramm li {
    position: absolute;
    z-index: 2;
}

.intro_diagramm li:first-child {
    left: 0;
    top: 0;
    transform: translateY(-50%);
}

.intro_diagramm li:nth-child(2) {
    left: 220px;
    top: 75px;

    @include big-desktop {
        left: calc(220 / 14.4 * 1vw);
        top: calc(75 / 14.4 * 1vw);
    }
}

.intro_diagramm li:nth-child(3) {
    right: 130px;
    bottom: 0;

    @include big-desktop {
        right: calc(130 / 14.4 * 1vw);
    }
}

.intro_diagramm li:nth-child(4) {
    right: 0;
    top: -5%;
}

.intro_diagramm dl {
    padding: 16px;
    border: 1px solid #d2dade;
    border-radius: 16px;
    background-color: #fff;

    @include big-desktop {
        padding: calc(16 / 14.4 * 1vw);
        border-width: calc(1 / 14.4 * 1vw);
        border-radius: calc(16 / 14.4 * 1vw);
    }
}

.intro_diagramm dt {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #283034;

    @include big-desktop {
        font-size: calc(32 / 14.4 * 1vw);
    }
}

.intro_diagramm dt span {
    font-size: 16px;

    @include big-desktop {
        font-size: calc(16 / 14.4 * 1vw);
    }
}

.intro_diagramm dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #a5b4be;

    @include big-desktop {
        font-size: calc(14 / 14.4 * 1vw);
    }
}